<h3>Cart</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="pizza in cart">
    <td>{{pizza.name}}</td>
    <td>${{pizza.price}}</td>
    <td><button class="btn btn-danger" ng-click="remove($index)">Remove</button></td>
  </tr>
  </tbody>
  <tfoot ng-if="hasItems()">
  <th></th>
  <th>${{getTotalPrice()}}</th>
  <th></th>
  </tfoot>
</table>
<button class="btn btn-success" ng-disabled="!hasItems()" ng-click="buy()">Buy</button>