<h1>Welcome to Boston Pizza</h1>
<h3>Menu</h3>
<label>Find your pizza: <input type="text" ng-model="query" name="query"></label>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Ingredients</th>
    <th><span ng-click="changeSort()">[{{sorting}}]</span>Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="pizza in getMenu()">
    <td>{{pizza.id}}</td>
    <td>{{pizza.name}}</td>
    <td>{{pizza.ingredients.join(', ')}}</td>
    <td>${{pizza.price}}</td>
    <td><button ng-click="addToCart(pizza)">Add to cart</button></td>
  </tr>
  </tbody>
</table>
